/* Datatable */
#myDataTable{
  width: 100% !important;
}

#myDataTable_filter{
  display:none;
}
/* Datatable */

/* User Dropdown */
.user-detail{
  padding: 10px;
}

.user-detail > div{
  margin: 0 20px 0 20px;
}
/* User Dropdown */